---
layout: page
title: Roster
permalink: /roster/
---

<div class="players">
  {% for player in site.data.roster %}
    <div class="player-card">
      <div class="photo-container">
        {% if player.photo_url_ext %}
          <img class="photo" src={{ site.cdn_url | append: player.photo_url_ext }}>
        {% else %}
          <img class="photo" src={{ site.cdn_url | append: "disco_ball.png" }}>
        {% endif %}
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      {% if player.is_captain %}
        <div class="sub-title">
          Captain
        </div>
      {% elsif player.is_coach %}
        <div class="sub-title">
          Coach
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
