---
layout: page
permalink: /roster/2017
title: Roster
---

<div class="roster-header">
  <a href="/roster/">2018</a>
  <a href="/roster/2017" class="year selected-roster-year">2017</a>
</div>
<div class="players">
  {% for player in site.data.roster2017 %}
    <div class="player-card">
      <div class="photo-container">
        {% if player.photo_url_ext %}
          <img class="photo" src={{ site.cdn_url | append: player.photo_url_ext }}>
        {% else %}
          <img class="photo" src={{ site.cdn_url | append: "disco_ball.png" }}>
        {% endif %}
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      {% if player.is_captain %}
        <div class="sub-title">
          Captain
        </div>
      {% elsif player.is_coach %}
        <div class="sub-title">
          Coach
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

