$nav-height: 60px;
$content-width: 1000px;
$main: #D3398E;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: black;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: black;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 