@media (max-width: 600px) {
  .site-title {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

aside {
  a {
    color: white;
  }
  .home-img {
    margin: 7px 7px 1px 25px;
    margin-left: 25px;
    img {
      height: 52px;
    }
  }
  .nav-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 15px;
    .nav-link {
      padding: 5px;
      margin: 0 14px;
      font-size: 15px;
      text-decoration: none;
    }
  }
  .site-title {
    flex-grow: 2;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
}

.home-container {
  height: 100%;
  padding-top: $nav-height;
  
  .hero-container {
    // background-image: url("../assets/team_pic.jpg");
    height: 100%;
    //background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .8;
  }
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .player-card {
    margin-top: 45px;
    margin-right: 37px;
    .photo-container {
      text-align: center;
    }
    img {
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid black;
    }
    .name {
      text-align: center;
      font-size: 17px;
    }
    .sub-title {
      text-align: center;
      font-size: 14px;
    }
  }
}

.media-container {
  .section {
    margin-bottom: 50px;
  }
  .title {
    text-align: center;
    font-size: 29px;
  }
  .media-link {
    text-align: center;
    margin: 9px 0;
  }
  .twitter-timeline-container {
    width: 60%;
    margin: auto;
  }
  .videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .video {
    margin: 20px;
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
  img {
    height: 21px;
  }
  .contact-link {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-top: 7px;
  }
}
